.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(10deg, #213277, #f14b56, #384a92, #e7202c);
    background-size: 400% 400%;
    /*position: relative;*/
    animation: cambiar 9s ease-in-out infinite;
    overflow-x: hidden;
    z-index: 0;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
    padding-top: 60px;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgb(50, 50, 50);
    opacity: 0;
    animation: appear 3s forwards;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3vh;
    text-align: center;
    color: rgb(249, 243, 243);
    font-size: 4vw;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgb(50, 50, 50);
    opacity: 0;
    animation: appear 3s forwards;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: rgb(249, 243, 243);
    font-size: 2.5vw; /* Tamaño de fuente en relación con el ancho de la vista */
}

.chatContactEmptyStateSubtitle {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgb(50, 50, 50);
    opacity: 0;
    animation: appear 3s forwards;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: rgb(249, 243, 243);
    font-size: 1.2vw; /* Tamaño de fuente en relación con el ancho de la vista */
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    /* .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    } */
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 500px;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: flex-end;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}

.contentImagePolicy {
    width: 15vw;
    height: 18vw;
    margin-top: -120px;
    margin-left: 55px;
    margin-right: -360px;
    border-radius: 50%;
    position: relative;
}
/* LOGIN BUTTON STYLES */

.loginbutton {
    background-color: #fffefe;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.loginbutton:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.loginbutton:focus {
    outline: none;
}

.loginbutton:active {
    background-color: #e6e6e7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.bskcontainer {
    text-align: center;
}

@keyframes appear {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
    }
}
