.examplesNavList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    justify-content: center;
}

.example {
    word-break: break-word;
    background: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.example:hover {
    box-shadow: 10px 5px 5px rgba(7, 7, 7, 0.14), 10px 5px 5px rgba(0, 0, 0, 0.12);
    outline: 2px solid rgba(115, 118, 225, 1);
}

.exampleText {
    margin: auto;
    font-size: 22px;
    width: 280px;
    height: 100px;
    color: rgb(33, 33, 33);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-height: 780px) {
    .exampleText {
        font-size: 20px;
        height: 80px;
    }
}
