.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #091286;
    color: #f2f2f2;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #f2f2f2;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 700;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #f2f2f2;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: -10px;
    height: 30%;
    width: 30%;
}

.headerRightText {
    font-weight: 500;
    margin-left: 40px;
    font-size: 16px;
    text-decoration: underline;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 50px;
}

/* Estilo para el botón de Feedback */
.feedbackButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 20%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* Permite posicionar el ícono desplegable */
    display: inline-block;
}

.feedbackButton:hover {
    background-color: #ff5555;
}
.feedbackText {
    text-align: center;
}
/* Estilo para el ícono desplegable del select */
.feedbackButton::after {
    content: "\25BC"; /* Código del carácter Unicode para una flecha hacia abajo */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
}

/* Estilo para el select */
.feedbackSelect {
    appearance: none; /* Oculta el control nativo del select */
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px; /* Ajusta el espacio de relleno a tu preferencia */
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px; /* Ajusta el ancho deseado */
}

/* Estilo para las opciones del select */
.feedbackSelectOption {
    background-color: white;
    color: #333;
    padding: 5px 10px;
}

.feedbackSelectOption:hover {
    background-color: #f0f0f0;
    color: #007bff;
}
