.layout {
    display: flex;
    flex-direction: column;
    height: 99.9%;
    /* background-image: url(imagf.png);*/
    background: linear-gradient(10deg, #213277, #f14b56, #384a92, #e7202c);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 9s ease-in-out infinite;
    overflow-x: hidden;
    z-index: 0;
}
@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
.header {
    background-color: black;
    color: white;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: white;
    text-decoration: none;
    font-size: 3vh;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 700;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #f2f2f2;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: -10px;
    height: 30%;
    width: 30%;
}

.headerRightText {
    font-weight: 500;
    margin-left: 40px;
    font-size: 2.3vh;
    text-decoration: underline;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 60px;
}

/* Estilo para el botón de Feedback */
.feedbackButton {
    background-color: #333; /* Fondo gris oscuro */
    color: white; /* Color del texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedbackButton:hover {
    background-color: #555; /* Color de fondo cuando se pasa el ratón por encima */
}
/* Estilo para el ícono desplegable del select */
.feedbackButton::after {
    content: "\25BC"; /* Código del carácter Unicode para una flecha hacia abajo */
    margin-left: 10px;
    font-size: 16px;
}
/* Estilo para el select */
.feedbackSelect {
    appearance: none; /* Oculta el control nativo del select */
    background-color: #e7202c;
    color: white;
    border: none;
    padding: 10px 20px; /* Ajusta el espacio de relleno a tu preferencia */
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px; /* Ajusta el ancho deseado */
}

/* Estilo para las opciones del select */

.feedbackSelectOption {
    background-color: #333;
    color: #ffffff;
    padding: 5px 10px;
}

.feedbackSelectOption:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

.typing {
    opacity: 0;
    animation: appear 3s forwards;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3vh;
    text-align: center;
    margin-right: 12%;
}

@keyframes appear {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
    }
}
